.dva-m-article-stage {
  position: relative;
  margin-bottom: 40px;
  color: $dvag-color__gold-500;

  @include breakpoint($mq-4-and-up) {
    margin-bottom: 64px;
  }

  .dva-m-skewed-box__content {
    width: 100%;
    height: 0;
    padding-bottom: 25%;
    background-color: $dvag-color__gold-500;

    @include breakpoint($mq-4-and-up) {
      padding-bottom: 12.5%;
    }
  }

  &__image {
    margin-top: 40px;
  }

  &__background {
    position: absolute;
    width: 100%;
  }
}
