<!-- overlay for MQ4/5 with Slider and larger images -->
<dvag-m-basic-overlay class="dvag-m-basic-overlay dvag-m-c25-vb-about-me__overlay" role="dialog" aria-modal="true">
  {{> dva-e-button
        iconOnly=true
        cssClasses="dvag-m-basic-overlay__close dva-e-button--icon-only"
        label="Schließen"
        iconID="dva-icon-close"
        isButton=true
    }}
  <div class="dvag-m-basic-overlay__content">
    <dvag-m-basic-slider class="dvag-m-basic-slider dvag-m-c25-vb-about-me__overlay-slider" active-on-mq="4-5">
      <div class="dvag-m-basic-slider__slides dvag-m-c25-vb-about-me__overlay-slides">
        <div class="dvag-m-basic-slider__slide dvag-m-c25-vb-about-me__overlay-slide">
          {{> dva-e-lazy-image
              src="../dummy-content/images/sample/dummy-image--16x9.jpg"
              alt="Alt Text"
              aspectRatio="16:9"
          }}
          <p class="dvag-m-basic-slider__slide-text">80 Zeichen max. - Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sedta</p>
        </div>
        <div class="dvag-m-basic-slider__slide dvag-m-c25-vb-about-me__overlay-slide">
          {{> dva-e-lazy-image
              src="../dummy-content/images/sample/dummy-image--1x1.jpg"
              alt="Alt Text"
              aspectRatio="1:1"
          }}
          <p class="dvag-m-basic-slider__slide-text">80 Zeichen max. - Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sedta</p>
        </div>
        <div class="dvag-m-basic-slider__slide dvag-m-c25-vb-about-me__overlay-slide">            
          {{> dva-e-lazy-image
              src="../dummy-content/images/sample/dummy-image--1x1.jpg"
              alt="Alt Text"
              aspectRatio="1:1"
          }}
          <p class="dvag-m-basic-slider__slide-text">80 Zeichen max. - Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sedta</p>
        </div>
        <div class="dvag-m-basic-slider__slide dvag-m-c25-vb-about-me__overlay-slide">
          {{> dva-e-lazy-image
              src="../dummy-content/images/sample/dummy-image--1x1.jpg"
              alt="Alt Text"
              aspectRatio="1:1"
          }}
          <p class="dvag-m-basic-slider__slide-text">80 Zeichen max. - Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sedta</p>
        </div>
        <div class="dvag-m-basic-slider__slide dvag-m-c25-vb-about-me__overlay-slide">
          {{> dva-e-lazy-image
              src="../dummy-content/images/sample/dummy-image--1x1.jpg"
              alt="Alt Text"
              aspectRatio="1:1"
          }}
          <p class="dvag-m-basic-slider__slide-text">80 Zeichen max. - Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sedta</p>
        </div>
        <div class="dvag-m-basic-slider__slide dvag-m-c25-vb-about-me__overlay-slide">            
          {{> dva-e-lazy-image
              src="../dummy-content/images/sample/dummy-image--1x1.jpg"
              alt="Alt Text"
              aspectRatio="1:1"
          }}
          <p class="dvag-m-basic-slider__slide-text">80 Zeichen max. - Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sedta</p>
        </div>
      </div>
      <div class="dvag-m-basic-slider__controls">
        <button class="dva-e-button dva-e-button--primary dva-e-button--rebrush dvag-m-basic-slider__nav-button dvag-m-basic-slider__nav-button--prev">
          <div class="dva-e-button__background"></div>
          <dva-e-icon class="dva-e-icon" icon-id="dva-icon-chevron-left"></dva-e-icon>
        </button>
        <button class="dva-e-button dva-e-button--primary dva-e-button--rebrush dvag-m-basic-slider__nav-button dvag-m-basic-slider__nav-button--next">
          <div class="dva-e-button__background"></div>
          <dva-e-icon class="dva-e-icon" icon-id="dva-icon-chevron-right"></dva-e-icon>
        </button>
      </div>
      <div class="dvag-m-basic-slider__grid-container-wrapper">
        <div class="dvag-m-basic-slider__scroll-bar">
          <button class="dvag-m-basic-slider__scroll-indicator" tabindex="-1"></button>
        </div>
      </div>
    </dvag-m-basic-slider>  
  </div>
</dvag-m-basic-overlay>
