---
layout: default
title: "[C25] (VB) About Me"
---

{{#each dvag-m-c25-vb-about-me__data.variants}}
  <div class="dvag-grid">
    <div class="dvag-grid-row">
      <div class="dvag-grid-col-1-12">
        <h3 class="dva-lsg-typography__headline">{{title}}</h3>
      </div>
    </div>
  </div>
  {{> dvag-m-c25-vb-about-me }}
{{/each}}
