---
layout: default
title: "[C01d] Teaser"
---

{{#each dvag-m-c01d-teaser__data.variants}}
  <div class="dvag-grid">
    <div class="dvag-grid-row">
      <div class="dvag-grid-col-1-12">
        <h3 class="dva-lsg-typography__headline">{{title}}</h3>
      </div>
    </div>
  </div>
  {{> dvag-m-c01d-teaser}}
{{/each}}
