---
layout: default
title: "[C08] Barcomponent"
---

<div class="dvag-grid-col-1-12 dvag-grid-col-3-6">
  <small>MQ1-2 - 12 col (100%)</small>
  <small>MQ3-6 - 6 col (50%)</small>
</div>
<div class="dvag-grid-col-1-12 dvag-grid-col-3-6">
  <small>MQ1-2 - 12 col (100%)</small>
  <small>MQ3-6 - 6 col (50%)</small>
</div>
