/* Sidebar */

#search {
  form {
    position: relative;

    &::before {
      content: "\f002";
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      width: calc(element - height / 1.375);
      height: calc(element - height / 1.375);
      color: fg;
      opacity: 0.325;
      font-size: 1.5em;
      text-align: center;
      line-height: calc(element - height / 1.375);
      cursor: default;
    }

    input[type="text"] {
      padding-right: element-height;
    }
  }
}

#sidebar.activate-animations {
  @include vendor("transition", ("margin-left 0.5s ease", "box-shadow 0.5s ease"));
}

#sidebar {
  $pad: calc(2em / 0.9);
  position: relative;
  width: _size(sidebar-width);
  margin-left: (_size(sidebar-width) * -1);

  background-color: _palette(bg-alt);
  font-size: 0.9em;

  @include vendor("flex-grow", "0");
  @include vendor("flex-shrink", "0");

  @include breakpoint("<=xlarge") {
    $pad: calc(1.5em / 0.9);

    width: _size(sidebar-width-alt);
    margin-left: (_size(sidebar-width-alt) * -1);

    > .inner {

      width: _size(sidebar-width-alt);
      @include padding($pad, $pad, (0, 0, $pad, 0));

      > .alt {
        width: calc(100% + #{$pad * 2});
        padding: $pad;
        margin: ($pad * -1) 0 ($pad * 2) ($pad * -1);
      }
    }

    .toggle {
      left: _size(sidebar-width-alt);
      display: flex;
      width: 5em;
      height: 6.25em;
      align-items: center;
      justify-content: center;
      text-indent: 5em;
      line-height: 6.25em;
    }

    &.active {
      margin-left: 0;
    }
  }

  @include breakpoint("<=large") {
    position: fixed;
    z-index: _misc(z-index-base);
    top: 0;
    left: 0;
    height: 100%;

    &.active {
      box-shadow: 0 0 5em 0 rgb(0 0 0 / 17.5%);
    }

    > .inner {
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden auto;
      height: 100%;
      -webkit-overflow-scrolling: touch;

      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 4em;
      }
    }

    .contact .icon-component {
      width: 27px;
    }

    .toggle {
      width: 6em;
      text-indent: 6em;
    }

    body.is-preload & {
      display: none;
    }
  }

  @include breakpoint("<=small") {
    .contact .icon-component {
      width: 24px;
    }

    .toggle {
      width: 7.25em;
      text-indent: 7.25em;

      &::before {
        z-index: 1;
        margin-top: calc(-0.5em / 2);
        margin-left: calc(-0.125em / 2);
        color: _palette(fg);
        font-size: 1.1rem;
      }

      &::after {
        content: "";
        position: absolute;
        top: 1.35em;
        left: 1.15em;
        width: 5em;
        height: 3.5em;
        border-radius: _size(border-radius);
        background: transparentize(lighten(_palette(fg), 35), 0.25);
      }

      .icon-component {
        width: 35px;
        height: 35px;
        color: _palette(fg);
      }
    }
  }

  h2 {
    font-size: calc(1.25em / 0.9);
  }

  > .inner {

    position: relative;
    width: _size(sidebar-width);
    @include padding($pad, $pad, (0, 0, $pad, 0));

    > * {
      display: block;
      padding: 0 0 (_size(element-margin) * 1.75) 0;
      border-bottom: solid 2px _palette(border);
      margin: 0 0 (_size(element-margin) * 1.75) 0;

      > :last-child {
        margin-bottom: 0;
      }

      &:last-child {
        padding-bottom: 0;
        border-bottom: 0;
        margin-bottom: 0;
      }
    }

    > .alt {
      width: calc(100% + #{$pad * 2});
      padding: $pad;
      border-bottom: 0;
      margin: ($pad * -1) 0 ($pad * 2) ($pad * -1);
      background-color: darken(_palette(bg-alt), 2);
    }
  }

  .contact .icon-component {
    position: absolute;
    left: 0;
    display: inline-block;
    width: 29px;
    height: 1.125em;
    color: #f56a6a;
    font-size: 1.5em;
    text-align: center;
    line-height: 1.125em;
  }

  .toggle {
    position: absolute;
    z-index: _misc(z-index-base);
    top: 0;
    left: _size(sidebar-width);
    display: flex;
    overflow: hidden;
    width: 6em;
    height: 7.5em;
    align-items: center;
    justify-content: center;
    border: 0;
    outline: 0;
    text-align: center;
    text-indent: -15em;
    line-height: 7.5em;
    white-space: nowrap;

    -webkit-tap-highlight-color: rgb(255 255 255 / 0%);
    @include icon(false, solid);
    @include vendor("transition", "left 0.5s ease");

    > .icon-component {
      width: 2.5rem;
    }
  }

  &.active {
    margin-left: 0;
  }
}
