---
layout: default
title: "[C01e] Teaser"
consultingRating: "4.0"
satisfactionRating: "4.5"
serviceRating: "2.0"
vbName: "Carsten Walther"
vbImageUrl: "https://www.dvag.de/content/dam/vbdata/dvag/c/a/r/carsten.walther/vbportrait_mask_01.png/jcr:content/renditions/cq5dam.vignetteimagehalfshot.180.180.png"
vbHomepageUrl: "#"
vbLocation: "Berlin"
mainRating: 4.5
headline: "Sehr zufrieden!"
text: "Wir haben all unsere Versicherungen und Sparmöglichkeiten bei ihm abgeschlossen, da wir stets super Angebote bekommen. Bei Problemen hilft er uns sofort und …"
customerName: "Max Mustermann"
createdAt: "1504095567183"
customerInfo: "Kunde seit 2022"
---

<div style="margin-bottom: 50px;">  
  {{> dvag-m-c01e-teaser }}
</div>
