.dvag-m-recommendation-bar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 24px 0;
  color: $dvag-color__white-500;
  background: $dvag-color__gold-500;

  @include breakpoint($mq-3-and-up) {
    padding: 32px 0;
  }

  &__headline {
    @extend %dva-type-700-bold;
  }

  &__text {
    margin: 0;
  }

  &__cta-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 24px;

    @include breakpoint($mq-3-and-up) {
      align-items: flex-end;
      justify-content: flex-end;
      margin-top: 0;
    }
  }

  &__rating-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 16px;
  }

  .dva-m-rating-box {
    gap: 2px;
  }

  .dva-e-rating-star {
    width: 24px;
    height: 24px;
    color: $dvag-color__white-500;
    fill: $dvag-color__white-500;
  }

  &__rating-label {
    margin: 0 0 0 12px;
  }

  &__overlay {
    .dvag-m-basic-overlay__content {
      @extend %dvag-grid-container;
    }

    .dvag-m-basic-overlay__inner-content {
      @extend %dvag-grid-container-col-1-12;
      @extend %dvag-grid-container-col-5-10;

      height: auto;
      padding: 52px 32px 32px;
    }
  }

  &__overlay-close.dva-e-button {
    top: 12px;
    right: 16px;
    width: 32px;
    height: 32px;
    padding: 0;
    color: $dvag-color__gold-500;
    transition: border 0.3s ease-in-out, background 0.3s ease-in-out, color 0.3s ease-in-out;

    @include hover() {
      color: $dvag-color__gold-700;
      background-color: $dvag-color__gold-50;
    }

    &:focus {
      border: 1px solid $dvag-color__gold-500 !important;
    }

    &:active {
      color: $dvag-color__gold-800;
      background-color: $dvag-color__gold-100;
    }
  }

  &__overlay-rating-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 12px;

    .dva-e-rating-star {
      width: 24px;
      height: 24px;
      color: $dvag-color__gold-500;
      fill: $dvag-color__gold-500;
    }
  }

  &__overlay-rating-label {
    margin: 0 0 0 12px;
    color: $dvag-color__black-250;
  }

  &__overlay-headline {
    @extend %dva-type-800;

    margin-bottom: 12px;
  }

  &__overlay-headline,
  &__overlay-text {
    color: $dvag-color__black-375;
  }

  &__recommendation-items-wrapper {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-top: 12px;
  }

  &__recommendation-item.dva-e-button--rebrush {
    padding: 10px;

    .dva-e-icon {
      margin: 0;
    }
  }
}
