.dvag-m-c22-infographic {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;

  svg {
    display: inline-block;
    width: 100%;
    height: 100%;

    * {
      animation-play-state: paused !important;
    }
  }

  &.dva-state-animating svg {
    * {
      animation-play-state: running !important;
    }
  }

  &__placeholder {
    display: flex;
    min-height: 150px;
    align-items: center;
    justify-content: center;

    .dva-e-icon {
      width: 50px;
    }
  }
}
