.dvag-e-c26-vb-contact-overlay-toggle {
  &[no-cookie-hide] {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;

    &.dva-state-active {
      opacity: 1;
    }

    &.dva-state-hidden {
      display: none;
    }
  }

  .dva-e-button__label {
    text-wrap: nowrap;
  }
}
