.accordion [role=accordionpanel] h4:not(.toggle-handle), .accordion [role=accordionpanel] h5, .button-list .button-list-item, .col-entry h2, .cta-contact .form-field-checkbox label a, .form-field-checkbox label, .form-field-checkbox label em, .form-field-radio label em, .hero blockquote cite, .hero blockquote cite span, .horizontal-steps .step-items h3, .icon-bar .small-title, .infographic .infographic-step .step-title, .section-title, .tab-container h4:not(.toggle-handle):not(.dva-m-teaser__topline), .tab-container h5, .teaser .btn, .teaser button, .teaser input[type=submit], .vb-domain-status__text, blockquote cite, h3, h4, h5, h6, th {
  font-family: dvag-type, sans-serif;
  font-weight: 400;
  font-style: normal
}

.accordion .handle-default, .accordion .handle-text, .accordion [role=accordionpanel] h3:not(.teaser-headline), .alpha, .article-container h3, .beta, .cta-contact .btn, .cta-contact .toggle-btn, .cta-contact button, .cta-contact input[type=submit], .hero-career .hero-product .btn.filled, .hero-career .hero-product button.filled, .hero-career .hero-product input.filled[type=submit], .hero-contact-form-box .message-title, .hero-flagship blockquote p, .hero blockquote p, .icon-bar .icon-bar-item .icon-bar-item-header, .product-finder-section .accordion--manual .accorion__headline, .reason-title, .section-headline, .tab-container h3:not(.teaser-headline), .teaser.special .btn, .teaser.special button, .teaser.special input[type=submit], b, h1, h2, strong {
  font-family: dvag-type, sans-serif;
  font-weight: 600;
  font-style: normal
}

* {
  box-sizing: border-box
}

blockquote, body, div, figure, footer, form, h1, h2, h3, h4, h5, h6, header, html, iframe, label, legend, li, nav, object, ol, p, section, table, ul {
  margin: 0;
  padding: 0
}

article, figure, footer, header, hgroup, nav, section {
  display: block
}

body {
  min-height: 100%;
  overflow-x: auto
}

@media (min-width: 48em) {
  body {
    overflow-x: hidden
  }
}

div.page {
  background-color: #fff;
  overflow: hidden
}

.col-wrapper {
  *zoom: 1;
  display: inline-block;
  width: 100%;
  padding: 0
}

.col-wrapper:after, .col-wrapper:before {
  content: "";
  display: table
}

.col-wrapper:after {
  clear: both
}

[class^=col-] {
  position: relative
}


.col-s-1.bleed-s, .col-s-12 {
  margin-left: 0;
  margin-right: 0
}

.col-s-12 {
  *zoom: 1;
  clear: both;
  float: none;
  width: 100%
}

.col-s-12:after, .col-s-12:before {
  content: "";
  display: table
}

.col-s-12:after {
  clear: both
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style-position: inside
}


.container {
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 30px
}

.container.page {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0
}

@media (max-width: 47.9375em) {
  .bar .col-s-12 + .col-s-12 {
    margin-top: 30px
  }
}

img, object, video {
  max-width: 100%;
  height: auto
}

button, input, select, textarea {
  font-family: inherit;
  font-weight: inherit;
  font-size: 100%;
  margin: 0
}

.cf, .clearfix, .container, .section-dividor-title, .tabs.main-tabs .tab-container, .text ol, .text ul {
  *zoom: 1
}

.cf:after, .cf:before, .clearfix:after, .clearfix:before, .container:after, .container:before, .section-dividor-title:after, .section-dividor-title:before, .tabs.main-tabs .tab-container:after, .tabs.main-tabs .tab-container:before, .text ol:after, .text ol:before, .text ul:after, .text ul:before {
  content: " ";
  display: table
}

.cf:after, .clear, .clearfix:after, .container:after, .section-dividor-title:after, .tabs.main-tabs .tab-container:after, .text ol:after, .text ul:after {
  clear: both
}

.center {
  float: none;
  margin-left: auto;
  margin-right: auto
}

.align-center {
  text-align: center
}

.bg-darkgrey {
  background: #404040
}

.text-dimmed {
  opacity: .5
}

.margin-top-small {
  margin-top: 20px
}

.margin-bottom-small {
  margin-bottom: 20px
}

a {
  text-decoration: none;
  outline: 0;
  color: inherit
}

button, input[type=submit] {
  min-height: 0
}

p {
  margin-bottom: 1em
}

sup {
  line-height: 1
}

small {
  display: inline-block;
  font-size: 12px;
  font-size: .75rem;
  line-height: 1.4
}

h2 + .article-text, h2 + ol, h2 + p, h2 + ul {
  margin-top: 30px
}

.article-text h2:first-child, .article-text h3:first-child {
  margin-top: 30px;
  margin-bottom: 20px
}

.text ol.button-list, .text ol.flat, .text ul.button-list, .text ul.flat, ol.button-list, ol.flat, ul.button-list, ul.flat {
  list-style-type: none
}

.text ol.button-list li, .text ol.flat li, .text ul.button-list li, .text ul.flat li, ol.button-list li, ol.flat li, ul.button-list li, ul.flat li {
  padding-left: 0
}

.text ol.button-list li:before, .text ol.flat li:before, .text ul.button-list li:before, .text ul.flat li:before, ol.button-list li:before, ol.flat li:before, ul.button-list li:before, ul.flat li:before {
  content: none
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style-position: inside
}

img, object, video {
  max-width: 100%;
  height: auto
}

button, input, select, textarea {
  font-family: inherit;
  font-weight: inherit;
  font-size: 100%;
  margin: 0
}

.btn, button, input[type=submit] {
  font-family: dvag-type, sans-serif;
  font-weight: 600;
  font-style: normal;
  display: inline-block;
  background: transparent;
  color: #c8aa22;
  border: 1px solid #c8aa22;
  border-radius: 4px;
  text-align: center;
  transition: background-color .3s, border-color .3s, color .3s;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.4;
  padding: 22px 30px;
  min-height: 60px;
  text-transform: none;
  vertical-align: middle;
  text-decoration: none;
  cursor: pointer
}

.text:after {
  content: ""
}

.text a {
  color: #c8aa22;
  position: relative;
  display: inline-flex;
  text-decoration: none
}

.text ol, .text ul {
  margin-bottom: 1.4em
}

.text ol li, .text ul li {
  padding-left: 18px
}

.text ul {
  list-style-type: none
}

.text ul > li {
  position: relative
}

.text ul > li:before {
  content: "";
  display: block;
  background: #666;
  position: absolute;
  left: 0;
  top: .5em;
  width: .45em;
  padding-bottom: .45em;
  border-radius: 50%
}

.button-list {
  *zoom: 1;
  list-style: none
}

.button-list:after, .button-list:before {
  content: "";
  display: table
}

.button-list:after {
  clear: both
}

.button-list .button-list-item:last-child {
  margin-right: 0
}


.article-container {
  color: #4d4d4d
}

.article-container h3 {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.2
}

.article-container h3 + p {
  margin-top: 30px
}

.article-container .text p {
  margin-bottom: 1.4em
}

.article-container .text h3 {
  margin-bottom: 1.16667em
}


section {
  *zoom: 1;
  clear: both;
  width: 100%;
  display: block;
  padding: 50px 0;
  color: #666
}

section:after, section:before {
  content: "";
  display: table
}

section:after {
  clear: both
}

section[class*=bg-darkgrey] {
  color: #fff
}

.section-headline {
  color: #4d4d4d;
  font-size: 32px;
  font-size: 2rem;
  line-height: 1.2
}

[class*=bg-darkgrey] .section-headline {
  color: #fff
}

.section-header {
  *zoom: 1;
  margin-bottom: 20px
}

.section-header:after, .section-header:before {
  content: "";
  display: table
}

.section-header:after {
  clear: both
}


.section-footer {
  *zoom: 1;
  margin-top: 20px
}

.section-footer:after, .section-footer:before {
  content: "";
  display: table
}

.section-footer:after {
  clear: both
}

.alpha, h1 {
  font-size: 32px;
  font-size: 2rem;
  line-height: 1.1
}

.beta, h2 {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.2
}

h3 {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.4
}

h4 {
  font-size: 15px;
  font-size: .9375rem;
  line-height: 1.4
}

.btn, button, input[type=submit] {
  font-family: dvag-type, sans-serif;
  font-weight: 600;
  font-style: normal;
  display: inline-block;
  background: transparent;
  color: #c8aa22;
  border: 1px solid #c8aa22;
  border-radius: 4px;
  text-align: center;
  transition: background-color .3s, border-color .3s, color .3s;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.4;
  padding: 22px 30px;
  min-height: 60px;
  text-transform: none;
  vertical-align: middle;
  text-decoration: none;
  cursor: pointer
}

.teaser {
  clear: both;
  position: relative;
  white-space: normal;
  text-align: left
}

.infographic {
  text-align: center
}
