---
layout: default
title: "Lottie Slider Slide"
subheadline: "1. Schritt"
headline: "Ihre Wünsche und Ziele"
text: "Im Gespräch prüfen wir, wie gut Sie finanziell aufgestellt sind. Wir sprechen über Ihre <b>kurz- und
  langfristigen</b> Ziele, ungenutzte staatliche <b>Fördermöglichkeiten</b> und finden <b>Einsparpotenziale</b>."
---

<div class="dvag-grid">
  <div class="dvag-grid-row">
    <div class="dvag-grid-col-1-12">
      <h3 class="dva-lsg-typography__headline">{{title}}</h3>
      {{> dvag-m-lottie-slider-slide}}
    </div>
  </div>
</div>