---
layout: default
nestedPath: "../"
---

<dvag-m-basic-slider class="dvag-m-basic-slider" style="margin-bottom: 100px;">
  <div class="dvag-m-basic-slider__slides">
    {{#dvag-times 6}}
        <div class="dvag-m-basic-slider__slide" 
             style="display: flex; align-items: center; justify-content: center; flex-basis: calc(100% / 2);">
             <div style="display: flex; align-items: center; justify-content: center; background:#dedede; width: 100%; height: 400px; margin: 20px;">
               <p class="dva-lsg-typography__headline" style="color: #9d9d9d;">Slide</p>
             </div>
        </div>
    {{/dvag-times}}
  </div>
  <div class="dvag-m-basic-slider__controls">
    <button class="dva-e-button dva-e-button--primary dva-e-button--rebrush dvag-m-basic-slider__nav-button dvag-m-basic-slider__nav-button--prev">
      <div class="dva-e-button__background"></div>
      <dva-e-icon class="dva-e-icon" icon-id="dva-icon-chevron-left"></dva-e-icon>
    </button>
    <button class="dva-e-button dva-e-button--primary dva-e-button--rebrush dvag-m-basic-slider__nav-button dvag-m-basic-slider__nav-button--next">
      <div class="dva-e-button__background"></div>
      <dva-e-icon class="dva-e-icon" icon-id="dva-icon-chevron-right"></dva-e-icon>
    </button>
  </div>  
  <div class="dvag-m-basic-slider__grid-container-wrapper">
    <div class="dvag-m-basic-slider__scroll-bar">
      <button class="dvag-m-basic-slider__scroll-indicator" tabindex="-1"></button>
    </div>
  </div>
</dvag-m-basic-slider>
