---
layout: default
title: "[N02] Footer"
---

<h5 class="dvag-m-n02-footer__headline">Bestnoten in Beratung, Service und Karriere</h5>

<div class="dvag-m-n02-footer__awards">
  <a href="#">
    {{> dva-e-lazy-image
        src="../dummy-content/images/sample/award_wall/award_wall__01.png"
        alt=""
        cssClasses="dvag-m-n02-footer__award-image"
    }}
  </a>
  <a href="#">
    {{> dva-e-lazy-image
        src="../dummy-content/images/sample/award_wall/award_wall__02.png"
        alt=""
        cssClasses="dvag-m-n02-footer__award-image"
    }}
  </a>
  <a href="#">
    {{> dva-e-lazy-image
        src="../dummy-content/images/sample/Siegel_Kundenchampions_DVAG.png"
        alt=""
        cssClasses="dvag-m-n02-footer__award-image"
    }}
  </a>
</div>
