---
layout: default
title: "[C11] Accordion"
---

<div class="AEM-WRAPPER-ELEMENT">
  <div class="dvag-m-c06-page-section dvag-m-skew-component">
    <div class="dva-h-skew--in"></div>
    <div class="dvag-m-skewed-box__content">
      <div class="dvag-m-c06-page-section__content-wrapper">
        {{> dvag-m-c11-accordion}}
      </div>
    </div>
    <div class="dva-h-skew--out"></div>
  </div>
</div>