@import "../../styles/base/mixins.scss";

:host {
  display: block;
}

.dva-e-lazy-image {
  &__mask {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 0;
    pointer-events: none;

    &--16-9 {
      padding-bottom: percentage(math.div(9, 16));
    }

    &--21-9 {
      padding-bottom: percentage(math.div(9, 21));
    }

    &--4-3 {
      padding-bottom: percentage(3 * 0.25);
    }

    &--3-2 {
      padding-bottom: percentage(math.div(2, 3));
    }

    &--1-1 {
      padding-bottom: 100%; // 1:1
    }

    &--2-3 {
      padding-bottom: percentage(3 * 0.5);
    }

    &--4-5 {
      padding-bottom: percentage(5 * 0.25);
    }
  }

  &__wrapper {
    opacity: 1;
    line-height: 0;
    transition: opacity 0.3s ease-in-out;

    &.dva-state-hidden {
      display: none;
    }
  }

  &__wrapper.dva-state-loading {
    position: relative;
    min-height: 200px;
    // opacity: 0;
  }

  .dva-e-lazy-image__mask &__wrapper.dva-state-loading {
    position: initial;
    min-height: initial;
  }

  &__img {
    position: relative;
    width: 100%;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;

    &.dva-state-loaded {
      opacity: 1;
    }
  }

  &__img--placeholder {
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(1.1);
    width: 100%;
    height: 100%;
    opacity: 1;
    filter: blur(10px);

    &.dva-state-hidden {
      opacity: 0;
      transition: opacity 0.01s ease-out 0.1s;
    }
  }

  &__wrapper--has-overwidth {
    .dva-e-lazy-image__img {
      width: auto;
      height: 100%;
    }
  }

  &__no-ratio {
    width: inherit;
    height: inherit;

    .dva-e-lazy-image__wrapper {
      width: inherit;
      height: inherit;
    }

    .dva-e-lazy-image__img {
      width: inherit;
      max-width: 100%;
      height: inherit;
    }
  }

  &__cover {
    width: 100%;
    height: 100%;
    .dva-e-lazy-image__img {
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      object-position: var(--dva-image-object-position, 50% 50%);
    }
  }

  &__contain {
    .dva-e-lazy-image__img {
      position: absolute;
      top: 0;
      left: 0;
      /* stylelint-disable length-zero-no-unit */
      width: calc(100% - (2 * var(--dva-image-padding, 0px)));
      height: calc(100% - (2 * var(--dva-image-padding, 0px)));
      /* stylelint-enable length-zero-no-unit */
      padding: var(--dva-image-padding, 0);
      object-fit: contain;
      object-position: var(--dva-image-object-position, 50% 50%);
      background: var(--dva-image-background, transparent);
    }
  }

  .dva-e-lazy-image__mask--21-9 &__wrapper {
    @include aspect-ratio(21, 9);
  }

  .dva-e-lazy-image__mask--16-9 &__wrapper {
    @include aspect-ratio(16, 9);
  }

  .dva-e-lazy-image__mask--4-3 &__wrapper {
    @include aspect-ratio(4, 3);
  }

  .dva-e-lazy-image__mask--3-2 &__wrapper {
    @include aspect-ratio(3, 2);
  }

  .dva-e-lazy-image__mask--1-1 &__wrapper {
    @include aspect-ratio(1, 1);
  }

  .dva-e-lazy-image__mask--2-3 &__wrapper {
    @include aspect-ratio(2, 3);
  }

  .dva-e-lazy-image__mask--4-5 &__wrapper {
    @include aspect-ratio(4, 5);
  }

  .dva-e-lazy-image__mask &__wrapper {
    position: absolute;
    width: 100%;
    height: auto;
  }

  &--circle {
    overflow: hidden;
    width: 100%;
    padding: 4px;
    border: 1px solid $dvag-color__gold-500;
    border-radius: 100%;
    background: $dvag-color__white-500;

    .dva-e-lazy-image__mask {
      display: block;
      overflow: hidden;
      width: 100%;
      border-radius: 100%;
    }
  }

  &__error-placeholder-box {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;

    &.dva-state-animate {
      background: linear-gradient(
        to right,
        $dvag-color__black-100 4%,
        $dvag-color__black-200 36%,
        $dvag-color__black-100 54%
      );
      background-size: 1000px 100%;
      animation: shimmer 3s infinite linear;
    }
  }
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}
