---
layout: default
noToolbar: true
aspectRatio: "16:9"
---

<div class="dva-e-lazy-image dva-e-lazy-image--placeholder" aspect-ratio="{{this.aspectRatio}}">
  <div class="dva-e-lazy-image__placeholder-content">
    {{> dva-e-icon
      cssClasses="dva-e-lazy-image__placeholder-icon"
      iconId="dva-icon-placeholder"
    }}
  </div>
</div>