---
layout: default
---

<div class="AEM-WRAPPER-ELEMENT {{cssClasses}}">
  <dvag-m-c07-rating-teaser-slider class="dvag-m-c07-rating-teaser-slider dvag-m-skew-component">
    <div class="dva-h-skew--in"></div>
    <div class="dvag-m-skewed-box__content">
      <div class="dvag-m-c07-rating-teaser-slider__grid-wrapper">
        {{> dvag-m-section-header 
          subheadline="Subheadline/type-700/black-300"
          headline="Headline/type-900/black-350"
        }}
      </div>

      <dvag-m-basic-slider class="dvag-m-basic-slider dvag-m-teaser-slider">
        <div class="dvag-m-basic-slider__slides">
          {{#each dvag-m-c07-rating-teaser-slider__data.ratings }}
            <div class="dvag-m-basic-slider__slide">                
              {{> dvag-m-c01e-teaser
                teaserIdx=@index
              }}
            </div>
          {{/each}}
        </div>  

        <div class="dvag-m-basic-slider__controls">
          <button class="dva-e-button dva-e-button--primary dva-e-button--rebrush dvag-m-basic-slider__nav-button dvag-m-basic-slider__nav-button--prev">
            <div class="dva-e-button__background"></div>
            <dva-e-icon class="dva-e-icon" icon-id="dva-icon-chevron-left"></dva-e-icon>
          </button>
          <button class="dva-e-button dva-e-button--primary dva-e-button--rebrush dvag-m-basic-slider__nav-button dvag-m-basic-slider__nav-button--next">
            <div class="dva-e-button__background"></div>
            <dva-e-icon class="dva-e-icon" icon-id="dva-icon-chevron-right"></dva-e-icon>
          </button>
        </div>
        <div class="dvag-m-basic-slider__grid-container-wrapper">
          <div class="dvag-m-basic-slider__scroll-bar">
            <button class="dvag-m-basic-slider__scroll-indicator" tabindex="-1"></button>
          </div>
        </div>
      </dvag-m-basic-slider>

      <dvag-m-c01e-teaser-overlay class="dvag-m-c01e-teaser-overlay"></dvag-m-c01e-teaser-overlay>

      <div class="dvag-m-c07-rating-teaser-slider__grid-wrapper">
        <div class="dvag-m-c07-rating-teaser-slider__button-wrapper">
          {{> dva-e-button
            cssClasses="dva-e-button--rebrush"
            label="Primary - Big"
          }}
          {{> dva-e-button
            cssClasses="dva-e-button--secondary dva-e-button--rebrush"
            label="Secondary - Big"
          }}
        </div>
      </div>
    </div>
    <div class="dva-h-skew--out"></div>
  </dvag-m-c07-rating-teaser-slider>
</div>