---
layout: default
---

{{#each dvag-m-c19-cta-block__data.variants}}
  <div class="dvag-grid">
    <div class="dvag-grid-row">
        <div class="dvag-grid-col-1-12" style="margin:15px 0;">
          <h3 class="dva-lsg-typography__headline">{{this.headline}}</h3>          
        </div>
    </div>
  </div>
  {{> dvag-m-c19-cta-block this}}
{{/each}}

<!-- no api-url here to show static variant in LSG on Server -->
<!-- to test markup-mock, add: api-url="/mocker/dvag-m-c26-vb-contact-overlay" -->
<dvag-m-c26-vb-contact-overlay class="dvag-m-basic-overlay dvag-m-c26-vb-contact-overlay" deeplinking-target="{{this.deeplinkingTarget}}">
  <div class="dvag-m-basic-overlay__content">
    <div class="dvag-m-basic-overlay__inner-content">
      {{> dvag-m-c26-vb-contact-overlay__inner-content }}
    </div>
  </div>
</dvag-m-c26-vb-contact-overlay>
