---
layout: default
title: "[C28] Content Container"
---

<div class="dvag-m-c28-content-container {{cssClasses}}">
  <!-- @BE: remove inline-style-attribute (only for representation in living styleguide) -->
  <div class="dvag-m-c28-content-container__content-wrapper" style="background: #D6D6D6; border: 2px dashed #2B2B2B; height: 300px; display: flex; align-items: center; justify-content: center;">
    [CONTENT WILL BE INCLUDED HERE]
  </div>
</div>
