.dvag-m-n01-navigation {
  position: absolute;
  z-index: $zIndex-navigation;
  top: 0;
  right: 0;
  bottom: 0;
  transform: translateX(100%);
  display: none;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: var(--app-height);
  background-color: $dvag-color__white-500;
  transition: transform 0.3s ease-in-out;
  pointer-events: all;
  -webkit-overflow-scrolling: touch;

  @include breakpoint($mq-3-and-up) {
    width: 476px;
  }

  &.dva-state-open {
    display: block;
  }

  &.dva-state-visible {
    transform: translateX(0);
  }

  &.dvag-m-n01-navigation--level-2-open {
    overflow-y: hidden;
  }

  &__content-wrapper {
    position: relative;
  }

  &__header {
    position: sticky;
    z-index: $zIndex-navigation + 2;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 24px 16px 16px;
    background: $dvag-color__white-500;

    @include breakpoint($mq-3-and-up) {
      padding: 24px 24px 16px;
    }

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 16px;
      width: calc(100% - 32px);
      height: 1px;
      background-color: $dvag-color__black-100;

      @include breakpoint($mq-3-and-up) {
        left: 24px;
        width: calc(100% - 48px);
      }
    }
  }

  &__header-button {
    @extend %dva-type-500-bold;

    display: flex;
    align-self: flex-end;
    padding: 4px;
    border: 1px solid transparent;
    border-radius: 2px;
    color: $dvag-color__black-375;
    transition: border 0.3s ease-in-out, background 0.3s ease-in-out, color 0.3s ease-in-out;

    @include hover() {
      color: $dvag-color__black-400;
      background-color: $dvag-color__gold-50;

      cursor: pointer;

      &:before {
        content: none;
      }
    }

    .dva-e-icon {
      width: 24px;
      height: 24px;
      margin-right: 12px;
    }

    &:focus {
      border: 1px solid $dvag-color__black-375;
      color: $dvag-color__black-400;

      &:before {
        content: none;
      }
    }

    &:active {
      color: $dvag-color__black-500;
      background-color: $dvag-color__gold-100;
    }
  }

  &__header-button--back {
    display: flex;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;

    &.dva-state-visible {
      opacity: 1;
      pointer-events: all;
    }
  }

  &__content {
    padding: 24px 0;
  }

  &__cta.dva-e-button--small {
    width: calc(100% - 32px);
    margin: 0 16px 24px;

    @include breakpoint($mq-3-and-up) {
      width: calc(100% - 48px);
      margin: 0 24px 24px;
    }
  }

  // navigation list
  &__group-list {
    @extend %dvag-reset-list-styling;

    // position: relative;

    &--secondary {
      margin-bottom: 16px;
    }

    &--language-switch {
      position: relative;
      padding-top: 16px;
      margin-bottom: 8px;

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 16px;
        width: calc(100% - 32px);
        height: 1px;
        background-color: $dvag-color__black-75;

        @include breakpoint($mq-3-and-up) {
          left: 24px;
          width: calc(100% - 48px);
        }
      }
    }
  }

  &__item {
    display: block;
    padding: 0 16px;

    @include breakpoint($mq-3-and-up) {
      padding: 0 24px;
    }

    &--secondary {
      padding: 0;
      margin: 8px 16px;

      @include breakpoint($mq-3-and-up) {
        margin: 8px 24px;
      }
    }

    &--optional {
      padding: 0;
      margin: 8px 0;
    }

    &--language-switch {
      display: inline-block;
      padding: 0;
      margin: 8px 24px 8px 16px;

      @include breakpoint($mq-3-and-up) {
        margin: 8px 24px;
      }
    }
  }

  &__item-link {
    @extend %dva-type-750-bold;

    display: flex;
    flex-direction: column;
    padding: 24px 16px 24px 14px;
    border-left: 2px solid transparent;
    margin: 0;
    transition: border-color 0.3s, background-color 0.3s;

    @include hover() {
      border-left-color: $dvag-color__gold-500;
      background-color: $dvag-color__black-25;
      cursor: pointer;
    }

    &:focus {
      border-left-color: $dvag-color__gold-500;
      background-color: $dvag-color__black-25;
    }

    &:active,
    &.dva-state-active {
      border-left-color: $dvag-color__gold-500;
    }

    &--level-2 {
      @extend %dva-type-500;
      @extend %dva-type-bold;

      padding: 16px 16px 16px 14px;
    }

    &--secondary {
      @extend %dva-type-500;
      @extend %dva-type-regular;

      padding: 4px 16px 4px 14px;
    }

    &--optional {
      @extend %dva-type-500-bold;

      padding: 4px 16px 4px 14px;

      @include hover() {
        background-color: $dvag-color__white-500;
      }

      &:focus {
        background-color: $dvag-color__white-500;
      }
    }

    &--language-switch {
      @extend %dva-type-500;
      @extend %dva-type-regular;

      flex-direction: row;
      align-items: center;
      padding: 8px 16px 8px 14px;

      .dva-e-icon {
        width: 18px;
        height: 18px;
        margin-right: 8px;
      }
    }
  }

  &__item-rating-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: 4px;

    .dva-m-rating-box {
      gap: 2px;
    }

    .dva-e-rating-star {
      width: 16px;
      height: 16px;
      color: $dvag-color__gold-500;
      fill: $dvag-color__gold-500;
    }
  }

  &__item-rating-label {
    @extend %dva-type-400;
    @extend %dva-type-regular;

    margin: 0 0 0 8px;
    color: $dvag-color__black-250;
  }

  // teaser area with grey background
  &__teaser-area {
    padding: 24px 16px;
    margin-top: 16px;
    margin-bottom: 16px;
    background: $dvag-color__black-25;

    @include breakpoint($mq-3-and-up) {
      padding: 24px;
    }
  }

  &__teaser-headline {
    @extend %dva-type-550;
    margin: 0 0 24px;

    color: $dvag-color__black-300;
  }

  .dvag-m-c01a-teaser {
    padding-bottom: 12px;
    border-bottom: 1px solid $dvag-color__black-100;
  }

  // 2nd level navigation
  &__level-2 {
    position: absolute;
    z-index: $zIndex-navigation + 1;
    // top: 74px;
    top: calc(var(--nav-scroll-height) + 74px);
    right: 0;
    bottom: 0;
    transform: translateX(100%);
    display: none;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    height: calc(var(--app-height) - 74px);
    background-color: $dvag-color__white-500;
    transition: transform 0.3s ease-in-out;
    pointer-events: all;
    -webkit-overflow-scrolling: touch;

    @include breakpoint($mq-3-and-up) {
      top: calc(var(--nav-scroll-height) + 74px);
      width: 476px;
      height: 100%;
    }

    &.dva-state-open {
      display: block;
    }

    &.dva-state-visible {
      transform: translateX(0);
    }
  }

  &__level-2-headline {
    @extend %dva-type-750-bold;
    margin: 24px 16px 4px;

    color: $dvag-color__black-250;

    @include breakpoint($mq-3-and-up) {
      margin: 24px 24px 4px;
    }
  }

  &__level-2-subheadline {
    @extend %dva-type-500;
    @extend %dva-type-regular;

    margin: 0 16px 32px;
    color: $dvag-color__black-250;

    @include breakpoint($mq-3-and-up) {
      margin: 0 24px 32px;
    }
  }
}

.dvag-m-n01-navigation-lock {
  position: fixed;
  z-index: $zIndex-navigation - 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba($dvag-color__black-350, 0.9);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;

  .dvag-state-navigation-open & {
    opacity: 1;
    pointer-events: all;
  }
}
