---
layout: default
---

<div class="dvag-m-c08-barcomponent">
  <div class="dvag-grid">
    <div class="dvag-grid-row">
      <div class="dvag-grid-col-1-12">
        <h3 class="dva-lsg-typography__headline">C22 Infographic within barcomponent 25/25/25/25</h3>
      </div>
    </div>
    <div class="dvag-grid-row">
      <div class="dvag-grid-col-1-12 dvag-grid-col-3-6 dvag-grid-col-4-3">          
        {{> dvag-m-c22-infographic desktopFile="../dummy-content/images/animation_1.svg"}}
      </div>
      <div class="dvag-grid-col-1-12 dvag-grid-col-3-6 dvag-grid-col-4-3">          
        {{> dvag-m-c22-infographic desktopFile="../dummy-content/images/animation_1.svg"}}
      </div>
      <div class="dvag-grid-col-1-12 dvag-grid-col-3-6 dvag-grid-col-4-3">         
        {{> dvag-m-c22-infographic desktopFile="../dummy-content/images/animation_1.svg"}}
      </div>
      <div class="dvag-grid-col-1-12 dvag-grid-col-3-6 dvag-grid-col-4-3">          
        {{> dvag-m-c22-infographic desktopFile="../dummy-content/images/animation_1.svg"}}
      </div>
    </div>   
  </div>
</div>
