---
layout: default
---

<dvag-m-basic-slider class="dvag-m-basic-slider" autoplay="{{pv-choose this.autoplay false}}">
  <div class="dvag-m-basic-slider__slides">
    <div class="dvag-m-basic-slider__slide">Slide</div>
    <div class="dvag-m-basic-slider__slide">Slide</div>
    <div class="dvag-m-basic-slider__slide">Slide</div>
    <div class="dvag-m-basic-slider__slide">Slide</div>
    <div class="dvag-m-basic-slider__slide">Slide</div>
    <div class="dvag-m-basic-slider__slide">Slide</div>
    <div class="dvag-m-basic-slider__slide">Slide</div>
    <div class="dvag-m-basic-slider__slide">Slide</div>
    <div class="dvag-m-basic-slider__slide">Slide</div>
  </div>
  <div class="dvag-m-basic-slider__controls">
    <button class="dva-e-button dva-e-button--primary dva-e-button--rebrush dvag-m-basic-slider__nav-button dvag-m-basic-slider__nav-button--prev">
      <div class="dva-e-button__background"></div>
      <dva-e-icon class="dva-e-icon" icon-id="dva-icon-chevron-left"></dva-e-icon>
    </button>
    <button class="dva-e-button dva-e-button--primary dva-e-button--rebrush dvag-m-basic-slider__nav-button dvag-m-basic-slider__nav-button--next">
      <div class="dva-e-button__background"></div>
      <dva-e-icon class="dva-e-icon" icon-id="dva-icon-chevron-right"></dva-e-icon>
    </button>
  </div>
  <div class="dvag-m-basic-slider__grid-container-wrapper">
    <div class="dvag-m-basic-slider__scroll-bar">
      <button class="dvag-m-basic-slider__scroll-indicator" tabindex="-1"></button>
    </div>
  </div>
</dvag-m-basic-slider>