---
layout: default
---

<div class="dvag-grid">
  <div class="dvag-grid-row">
    <div class="dvag-grid-col-1-12" style="display: flex; gap: 20px;">
      {{#each dvag-e-b09-vignette.variants}}
        {{> dvag-e-b09-vignette}}
      {{/each}}
    </div>
  </div>
</div>
