/* Form */

.form.block {
  display: none;
}

form {
  margin: 0 0 _size(element-margin) 0;
}

legend {
  font-weight: _font(weight-bold);
}

label {
  display: block;
  margin: 0 0 (_size(element-margin) * 0.1) 0;
  color: _palette(fg-bold);
  font-size: 0.9em;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
select,
textarea {
  display: block;
  width: 100%;
  padding: 0 1em;
  border: none;
  border: solid 1px _palette(border);
  border-radius: _size(border-radius);
  outline: 0;
  color: inherit;
  background: _palette(bg);
  text-decoration: none;
  @include vendor("appearance", "none");

  &:invalid {
    box-shadow: none;
  }

  &:focus {
    border-color: _palette(accent);
    box-shadow: 0 0 0 1px _palette(accent);
  }
}

select {
  height: _size(element-height);
  padding-right: _size(element-height);
  background-image: svg-url(
    "<svg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'><path d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='#{_palette(border)}' /></svg>"
  );
  background-position: calc(100% - 1em) center;
  background-repeat: no-repeat;
  background-size: 1.25em;
  text-overflow: ellipsis;

  option {
    color: _palette(fg-bold);
    background: _palette(bg);
  }

  &:focus {
    &::-ms-value {
      background-color: transparent;
    }
  }

  &::-ms-expand {
    display: none;
  }
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
select {
  height: _size(element-height);
}

textarea {
  padding: 0.75em 1em;
}

input[type="checkbox"],
input[type="radio"] {
  z-index: -1;
  display: block;
  float: left;
  width: 1em;
  margin-right: -2em;
  opacity: 0;
  @include vendor("appearance", "none");

  & + label {
    position: relative;
    display: inline-block;
    padding-right: 0.75em;
    padding-left: (_size(element-height) * 0.6) + 0.75em;
    color: _palette(fg);
    font-size: 1em;
    font-weight: _font(weight);
    cursor: pointer;
    @include icon(false, solid);

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      width: (_size(element-height) * 0.75);
      height: (_size(element-height) * 0.75);
      border: solid 1px _palette(border);
      border-radius: _size(border-radius);
      background: _palette(bg);
      font-size: 0.8em;
      text-align: center;
      line-height: (_size(element-height) * 0.75);
    }
  }

  &:checked + label {
    &:before {
      border-color: _palette(fg-bold);
      color: _palette(bg);
      background: _palette(fg-bold);
    }
  }

  &:focus + label {
    &:before {
      border-color: _palette(accent);
      box-shadow: 0 0 0 1px _palette(accent);
    }
  }
}

input[type="checkbox"] {
  & + label {
    &:before {
      border-radius: _size(border-radius);
    }
  }

  &:checked + .toggle-slider {
    background-color: _palette(fg);

    &:before {
      transform: translateX(24px);
    }
  }
}

input[type="radio"] {
  & + label {
    &:before {
      border-radius: 100%;
    }
  }
}

::-webkit-input-placeholder {
  color: _palette(fg-light) !important;
  opacity: 1;
}

:-moz-placeholder {
  color: _palette(fg-light) !important;
  opacity: 1;
}

::-moz-placeholder {
  color: _palette(fg-light) !important;
  opacity: 1;
}

:-ms-input-placeholder {
  color: _palette(fg-light) !important;
  opacity: 1;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
}

.toggle-slider {
  position: absolute;
  border-radius: 30px;
  background-color: _palette(fg-light);
  cursor: pointer;
  transition: 0.4s;
  inset: 0;

  &:before {
    content: "";
    position: absolute;
    bottom: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: _palette(bg);
    transition: 0.4s;
  }
}
