---
layout: default
---

<button class="dva-e-button" onclick="document.querySelector('#test-overlay').setState({args: window.ratingOverlayDemoData});">
  <span class="dva-e-button__label">Open Rating Overlay</span>
</button>

<dvag-m-c01e-teaser-overlay class="dvag-m-c01e-teaser-overlay" id="test-overlay"></dvag-m-c01e-teaser-overlay>

<script>
  window.ratingOverlayDemoData = {
    vbImg: 'https://www.dvag.de/content/dam/vbdata/dvag/c/a/r/carsten.walther/vbportrait_mask_01.png/jcr:content/renditions/cq5dam.vignetteimagehalfshot.180.180.png',
    vbName: 'Carsten Walther',
    vbLocation: 'Berlin',
    vbHomepage: '#',
    mainRating: '4.5',
    date: '04.06.2019',
    headline: 'Zufriedenheit pur.',
    text: 'Wir haben all unsere Versicherungen und Sparmöglichkeiten bei ihm abgeschlossen, da wir stets super Angebote bekommen. Bei Problemen hilft er uns sofort und Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.',
    customerName: 'Max Mustermann',
    customerInfo: 'Kunde seit 2010',
    ratings: {
      consulting: '4.5',
      satisfaction: '5.0',
      service: '3.5',
    },
    hasPrevTeaser: true,
    hasNextTeaser: true,
  };
</script>
