---
layout: default
title: "Progress Bar"
---

<dvag-e-progress-bar class="dvag-e-progress-bar" start-value="{{pv-choose this.startValue 0}}">
  <div class="dvag-e-progress-bar__progress-indicator"></div>
</dvag-e-progress-bar>