---
layout: default
title: "[C05] List Entry"
---

<div style="margin-bottom: 50px;">
  <div class="dvag-m-c08-barcomponent">
    <div class="dvag-grid">
      <div class="dvag-grid-row">
        <div class="dvag-grid-col-1-12">
          <h3 class="dva-lsg-typography__headline">C05 list entry within barcomponent 25/25/25/25</h3>
        </div>
      </div>
      <div class="dvag-grid-row">
        <div class="dvag-grid-col-1-12 dvag-grid-col-3-6 dvag-grid-col-4-3">
          {{> dvag-m-c05-list-entry }}
        </div>
        <div class="dvag-grid-col-1-12 dvag-grid-col-3-6 dvag-grid-col-4-3">
          {{> dvag-m-c05-list-entry }}
        </div>
        <div class="dvag-grid-col-1-12 dvag-grid-col-3-6 dvag-grid-col-4-3">
          {{> dvag-m-c05-list-entry }}
        </div>
        <div class="dvag-grid-col-1-12 dvag-grid-col-3-6 dvag-grid-col-4-3">
          {{> dvag-m-c05-list-entry }}
        </div>
      </div>
      <div class="dvag-grid-row">
        <div class="dvag-grid-col-1-12">
          <h3 class="dva-lsg-typography__headline">C05 list entry within barcomponent 33/33/33</h3>
        </div>
      </div>
      <div class="dvag-grid-row">
        <div class="dvag-grid-col-1-12 dvag-grid-col-3-4">
          {{> dvag-m-c05-list-entry }}
        </div>
        <div class="dvag-grid-col-1-12 dvag-grid-col-3-4">
          {{> dvag-m-c05-list-entry }}
        </div>
        <div class="dvag-grid-col-1-12 dvag-grid-col-3-4">
          {{> dvag-m-c05-list-entry }}
        </div>
      </div>
      <div class="dvag-grid-row">
        <div class="dvag-grid-col-1-12">
          <h3 class="dva-lsg-typography__headline">C05 list entry within barcomponent 50/50</h3>
        </div>
      </div>
      <div class="dvag-grid-row">
        <div class="dvag-grid-col-1-12 dvag-grid-col-3-6">
          {{> dvag-m-c05-list-entry }}
        </div>
        <div class="dvag-grid-col-1-12 dvag-grid-col-3-6">
          {{> dvag-m-c05-list-entry }}
        </div>
      </div>
    </div>
  </div>
</div>
