// LSG-Color-Group
// Group-Name: DVAG Gold
// Group-Description: gold-500 ist die primäre Auszeichnungsfarbe. Einsatz: Standard Logo, Buttons, Rubrikentitel, Filter, Links, interaktive Elemente
$dvag-color__gold-50: #f9f6e9;
$dvag-color__gold-100: #f4eed2;
$dvag-color__gold-200: #e9dda6;
$dvag-color__gold-300: #decc7a;
$dvag-color__gold-400: #d3bb4e;
$dvag-color__gold-500: #c8aa22;
$dvag-color__gold-600: #a0881b;
$dvag-color__gold-700: #786614;
$dvag-color__gold-800: #50440d;

// LSG-Color-Group
// Group-Name: DVAG Blue
// Group-Description: Blau kann als zusätzliche Auszeichnungsfarbe verwendet werden. Einsatz: sparsam zur speziellen Hervorhebung einzelner Sonderelemente
$dvag-color__blue-50: #e6eef2;
$dvag-color__blue-100: #ccdde4;
$dvag-color__blue-200: #99bcca;
$dvag-color__blue-300: #669ab0;
$dvag-color__blue-400: #337996;
$dvag-color__blue-450: #196989;
$dvag-color__blue-500: #00587c;
$dvag-color__blue-600: #004663;
$dvag-color__blue-700: #00344a;
$dvag-color__blue-800: #002331;

// LSG-Color-Group
// Group-Name: DVAG Red
$dvag-color__red-50: #f5e9eb;
$dvag-color__red-100: #ebd2d6;
$dvag-color__red-200: #d7a6ae;
$dvag-color__red-300: #c47a85;
$dvag-color__red-400: #b04e5d;
$dvag-color__red-500: #9d2235;
$dvag-color__red-600: #7d1b2a;
$dvag-color__red-700: #5e141f;
$dvag-color__red-800: #3e0d15;

// LSG-Color-Group
// Group-Name: Green
$dvag-color__green-50: #f1f5e6;
$dvag-color__green-100: #e4eacc;
$dvag-color__green-200: #c9d699;
$dvag-color__green-300: #afc266;
$dvag-color__green-400: #94ae33;
$dvag-color__green-500: #7a9a01;
$dvag-color__green-600: #617b00;
$dvag-color__green-700: #495c00;
$dvag-color__green-800: #303d00;

// LSG-Color-Group
// Group-Name: Orange
$dvag-color__orange-50: #fcf1e9;
$dvag-color__orange-100: #fae3d2;
$dvag-color__orange-200: #f5c8a6;
$dvag-color__orange-300: #f1ad7a;
$dvag-color__orange-400: #ec924e;
$dvag-color__orange-500: #e87722;
$dvag-color__orange-600: #b95f1b;
$dvag-color__orange-700: #8b4714;
$dvag-color__orange-800: #5c2f0d;

// LSG-Color-Group
// Group-Name: Purple
$dvag-color__purple-50: #efe6f3;
$dvag-color__purple-100: #decde8;
$dvag-color__purple-200: #bd9bd1;
$dvag-color__purple-300: #9d69ba;
$dvag-color__purple-400: #7c37a3;
$dvag-color__purple-500: #5c068c;
$dvag-color__purple-600: #490470;
$dvag-color__purple-700: #370354;
$dvag-color__purple-800: #240238;

// LSG-Color-Group
// Group-Name: Turquoise
$dvag-color__turquoise-50: #e6f1f0;
$dvag-color__turquoise-100: #cce3e0;
$dvag-color__turquoise-200: #99c7c2;
$dvag-color__turquoise-300: #66aba3;
$dvag-color__turquoise-400: #338f85;
$dvag-color__turquoise-500: #007367;
$dvag-color__turquoise-600: #005c52;
$dvag-color__turquoise-700: #00453d;
$dvag-color__turquoise-800: #002e29;

// LSG-Color-Group
// Group-Name: Black
// Group-Description: Besondere Module können durch einen anthrazitfarbenen Hintergrund (grey-300 bis grey-375)  hervorgehoben werden. Schriftfarben darauf sind Gold und Weiß. Verschiedene hellgraue Töne (grey-25 bis grey-75) können als Hintergrundfarbe zur Abhebung einzelner Module eingesetzt werden. Einsatz: als Hintergrundfarbe für hervorgehobene Module und Schriftfarbe für Fließtexte
$dvag-color__black-25: #f2f2f2;
$dvag-color__black-50: #e6e6e6;
$dvag-color__black-75: #d9d9d9;
$dvag-color__black-100: #ccc;
$dvag-color__black-200: #999;
$dvag-color__black-250: #808080;
$dvag-color__black-300: #666;
$dvag-color__black-350: #4d4d4d;
$dvag-color__black-375: #404040;
$dvag-color__black-400: #333;
$dvag-color__black-500: #000;

// LSG-Color-Group
// Group-Name: White
$dvag-color__white-50: rgba(255, 255, 255, 0.1);
$dvag-color__white-100: rgba(255, 255, 255, 0.2);
$dvag-color__white-200: rgba(255, 255, 255, 0.4);
$dvag-color__white-300: rgba(255, 255, 255, 0.6);
$dvag-color__white-400: rgba(255, 255, 255, 0.8);
$dvag-color__white-500: #fff;

// LSG-Color-Group
// Group-Name: State Indicator Colors
$dvag-color__error: #d71b3a;

// LSG-Color-Group
// Group-Name: Legacy Colors
$dvag-color__black-5: #191919;
$dvag-color__red: #9c2025;
