// dvag-type
@font-face {
  font-family: "dvag-type";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/dvag-type/woff2/DVAGType_W_Lt.woff2") format("woff2"),
    url("../fonts/dvag-type/woff/DVAGType_W_Lt.woff") format("woff");
}

@font-face {
  font-family: "dvag-type";
  font-weight: 300;
  font-style: italic;
  font-display: swap;
  src:
    url("../fonts/dvag-type/woff2/DVAGType_W_LtIt.woff2") format("woff2"),
    url("../fonts/dvag-type/woff/DVAGType_W_LtIt.woff") format("woff");
}

@font-face {
  font-family: "dvag-type";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/dvag-type/woff2/DVAGType_W_Rg.woff2") format("woff2"),
    url("../fonts/dvag-type/woff/DVAGType_W_Rg.woff") format("woff");
}

@font-face {
  font-family: "dvag-type";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src:
    url("../fonts/dvag-type/woff2/DVAGType_W_It.woff2") format("woff2"),
    url("../fonts/dvag-type/woff/DVAGType_W_It.woff") format("woff");
}

@font-face {
  font-family: "dvag-type";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/dvag-type/woff2/DVAGType_W_Bd.woff2") format("woff2"),
    url("../fonts/dvag-type/woff/DVAGType_W_Bd.woff") format("woff");
}

@font-face {
  font-family: "dvag-type";
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src:
    url("../fonts/dvag-type/woff2/DVAGType_W_BdIt.woff2") format("woff2"),
    url("../fonts/dvag-type/woff/DVAGType_W_BdIt.woff") format("woff");
}

$dva-typo__dvag-type: "dvag-type", sans-serif;

@mixin smoothing {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

// helper classes to manually set light, bold or italic styles
%dva-type-bold {
  font-weight: 700;
}

%dva-type-regular {
  font-weight: 400;
}

%dva-type-light {
  font-weight: 300;
}

%dva-type-italic {
  font-style: italic;
}

.dva-type-bold {
  @extend %dva-type-bold;
}

.dva-type-regular {
  @extend %dva-type-regular;
}

.dva-type-light {
  @extend %dva-type-light;
}

.dva-type-italic {
  @extend %dva-type-italic;
}

// take font selector and render variants in bold and light
@mixin generate-font-variants($font: "dva-type-500") {
  // Bold
  .dva-type-#{$font}-bold {
    @extend %dva-type-#{$font}-bold;
  }
  // Bold-Italic
  .dva-type-#{$font}-bold-italic {
    @extend %dva-type-#{$font}-bold-italic;
  }
  // Light
  .dva-type-#{$font}-light {
    @extend %dva-type-#{$font}-light;
  }
  // Light-Italic
  .dva-type-#{$font}-light-italic {
    @extend %dva-type-#{$font}-light-italic;
  }
  // Italic
  .dva-type-#{$font}-italic {
    @extend %dva-type-#{$font}-italic;
  }
}

// LSG-Typography-Type
// Placeholder-Tag: p
// Placeholder-Word-Count: 8
.dva-type-975 {
  @extend %dva-type-975;
}

@include generate-font-variants($font: "975");

// LSG-Typography-Type
// Placeholder-Tag: p
// Placeholder-Word-Count: 8
.dva-type-950 {
  @extend %dva-type-950;
}

@include generate-font-variants($font: "950");

// LSG-Typography-Type
// Placeholder-Tag: p
// Placeholder-Word-Count: 10
.dva-type-900 {
  @extend %dva-type-900;
}

@include generate-font-variants($font: "900");

// LSG-Typography-Type
// Placeholder-Tag: p
// Placeholder-Word-Count: 15
.dva-type-850 {
  @extend %dva-type-850;
}

@include generate-font-variants($font: "850");

// LSG-Typography-Type
// Placeholder-Tag: p
// Placeholder-Word-Count: 15
.dva-type-800 {
  @extend %dva-type-800;
}

@include generate-font-variants($font: "800");

// LSG-Typography-Type
// Placeholder-Tag: p
// Placeholder-Word-Count: 15
.dva-type-750 {
  @extend %dva-type-750;
}

@include generate-font-variants($font: "750");

// LSG-Typography-Type
// Placeholder-Tag: p
// Placeholder-Word-Count: 15
.dva-type-700 {
  @extend %dva-type-700;
}

@include generate-font-variants($font: "700");

// LSG-Typography-Type
// Placeholder-Tag: p
// Placeholder-Word-Count: 100
.dva-type-550 {
  @extend %dva-type-550;
}

@include generate-font-variants($font: "550");

// LSG-Typography-Type
// Placeholder-Tag: p
// Placeholder-Word-Count: 100
.dva-type-500 {
  @extend %dva-type-500;
}

@include generate-font-variants($font: "500");

// LSG-Typography-Type
// Placeholder-Tag: p
// Placeholder-Word-Count: 100
.dva-type-400 {
  @extend %dva-type-400;
}

@include generate-font-variants($font: "400");

// LSG-Typography-Type
// Placeholder-Tag: p
// Placeholder-Word-Count: 100
.dva-type-200 {
  @extend %dva-type-200;
}

@include generate-font-variants($font: "200");
