// z-index
$zIndex-overlay-stickyHeader: 2;
$zIndex-youtube-play-button: 5;
$zIndex-vb-configurator-menu: 30;
$zIndex-n01-header: 100;
$zIndex-floatingCta: 550;
$zIndex-navigation: 700;
$zIndex-overlay: 800;
