---
layout: default
---

<section class="dva-m-section">
  <div class="dva-m-article-content">
    <div class="dva-grid">
      <div class="dva-grid-row">
        <div class="dva-grid-col-1-12 dva-grid-col-4-8 dva-grid-offset-4-2">
          <!-- article content taken from dvag.de - start -->
          <div class="article-infobox">
            {{> dva-m-article-overview}}
          </div>

          <div class="article-text text parbase">
            <p><a title="DIVA Geldanlage-Index" href="https://www.diva.de/diva-index/" target="_blank" class="external" rel="external">Der Geldanlage-Index</a> des Deutschen Instituts für Vermögensbildung und Alterssicherung (<a title="DIVA" href="https://www.diva.de/" target="_blank" class="external" rel="external">DIVA</a>) misst zweimal jährlich die Einstellungen und Einschätzungen der Menschen in Deutschland zum Thema Geldanlage insbesondere in Aktien, Aktienfonds und fondsgebundene Lebensversicherungen. Neben einer repräsentativen Stichprobe von 2.000 Verbrauchern werden im Index auch die Einschätzungen von rund 850 Finanzexperten mit 1,5 Millionen Kunden berücksichtigt.</p>
            <p>Prof. Dr. Michael Heuser, wissenschaftlicher Direktor des DIVA-Instituts, erläutert im Interview die aktuellen Befragungsergebnisse.<br> </p>
          </div>
          <div class="article-video-image">
            <figure class="figure-with-caption left">

              <div class="bleed-m bleed-l">
                <div>
                  <img title="Prof. Dr. Michael Heuser, wissenschaftlicher Direktor des DIVA-Instituts" src="https://www.dvag.de/content/dam/projects/dvag/bilder/aktuelle-themen/finanzen/pers%C3%B6nliche-beratung-sichert-den-erfolg/Heuser.jpg/jcr:content/renditions/cq5dam.web.840.840.jpeg">
                </div>
              </div>
              <figcaption>
                <nobr class="credit"></nobr>
                <span class="caption">Prof. Dr. Michael Heuser, wissenschaftlicher Direktor des DIVA-Instituts</span>
              </figcaption>
            </figure>
          </div>

          <div class="article-text text parbase">
            <p><b>Prof. Dr. Heuser, das DIVA-Institut hat gerade die aktuellen Zahlen zum Deutschen Geldanlage-Index vorgelegt. Sind die Menschen in Deutschland immer noch die Aktienmuffel?</b></p>
            <p><i>Prof. Dr. Heuser:</i> Die Aktionärsquote hierzulande verharrt mit deutlich unter 20 % auf niedrigem Niveau. Andererseits zeigen uns Indikatoren, dass sich in Zukunft etwas bewegen könnte: Fast die Hälfte der befragten Bürger (47,5 %) sieht aktienbasierte Anlageformen, zu denen auch Aktienfonds und fondsgebundene Lebensversicherungen gehören, positiv. Und jeder Dritte gibt an, in näherer Zukunft etwas in diese Richtung machen zu wollen.</p>
            <p>&nbsp;</p>
          </div>
          <div class="article-text text parbase">
            <p><b>Wie beeinflusst die aktuelle Situation die Aktienstimmung in der Bevölkerung?</b></p>
            <p>Die Stimmung gegenüber Aktien bleibt insgesamt gut. Sie war im Sommer 2020 insbesondere deshalb etwas besser, weil sich die Kurse nach dem Corona-Einbruch ab Mitte März fulminant schnell erholt haben. Davon haben viele Anleger profitiert, und das hebt die Stimmung.</p>
            <p>Besonders hervorzuheben ist eine Lust auf Börse bei vielen jüngeren Menschen. Banken, Fondsgesellschaften und Broker berichten von einem erheblichen Zulauf, und unsere DIVA-Umfragen bestätigen: Menschen unter 30 Jahren legen einen sehr ausgeprägten Aktienoptimismus, im Wesentlichen auf Investmentfonds, an den Tag.</p>
          </div>
          <div class="quote">
            <blockquote class="col-m-1-pull col-l-1-pull">
              <p>„Die Menschen erachten persönliche Beratung für notwendig, um erfolgreich zu investieren.“</p>
              <cite></cite>
            </blockquote>
          </div>
          <div class="article-text text parbase">
            <p><b>Welche Rolle spielen Vermögensberater/-innen, wenn es in Deutschland um das Sparen in aktienbasierten Anlageformen geht?&nbsp;</b></p>
            <p>Fast ein Drittel der Bürger bescheinigt seinen Mitmenschen ungenügendes Wissen im Bereich Geldanlage, die Hälfte erachtet persönliche Beratung, zum Beispiel durch Vermögensberater, für notwendig, um erfolgreich zu investieren. Die Menschen erkennen zunehmend, dass man die Renditepotentiale der Börse nicht weiterhin vernachlässigen und zugleich ihre Komplexität nicht unterschätzen sollte. Sachkunde und Erfahrung sind gefragt. Der Rat eines Experten kann sehr hilfreich sein.&nbsp;<br> </p>
            <p><b>Lässt sich so mit der Zeit aus einem Deutschland der Aktienmuffel auf Dauer ein Land kluger Geldanleger an der Börse machen?&nbsp;</b></p>
            <p>Interessant ist, dass 80% der Vermögensberater-Kunden, aber nur 50 % der Bürger insgesamt das Sparen in Aktien für attraktiv halten. Beratung der Menschen in Finanz- und Anlagethemen hat also Relevanz für die Aktienkultur. Vermögensberatung hilft, so lässt sich folgern, die generelle Aktienkultur in Deutschland zu verbessern.</p>
            <p>Weitere Informationen zum aktuellen Geldanlage-Index des Deutschen Instituts für Vermögensbildung und Alterssicherung (DIVA) finden Sie <a title="DIVA Geldanlage Index" href="https://www.diva.de/diva-index/" target="_blank" class="external" rel="external">hier</a>.</p>
          </div>
          <div class="article-infobox">
            <div class="dva-m-article-overview">
              <div class="dva-m-article-overview__content">
                <h3 class="dva-m-article-overview__headline">Deutscher Geldanlage-Index Winter 2020/21: Ergebnisse kompakt</h3>
                <ul>
                  <li>Viele Menschen stehen langfristigen aktienbasierten Geldanlagen positiv gegenüber. Fast die Hälfte der Befragten (47,5 %) findet diese attraktiv.</li>
                  <li>Besonders jüngere Menschen haben zunehmend Lust auf Börse.&nbsp;Die Älteren zeigen in der aktuellen Situation eine gewisse Skepsis.&nbsp;</li>
                  <li>Bei den Bundesländern gibt es signifikante Unterschiede: Die Bürger im Westen sehen Aktien klar positiver als die Bürger im Osten. Spitzenreiter ist Hamburg, Schlusslicht Brandenburg.</li>
                  <li>Am wichtigsten ist den Deutschen das Kriterium Sicherheit, gefolgt von der Höhe der Rendite und schnellen Verfügbarkeit.</li>
                </ul>

              </div>
            </div>
            <!-- article content taken from dvag.de - end -->
          </div>
        </div>
      </div>
    </div>

    {{> dvag-m-c07-rating-teaser-slider cssClasses="dvag-h-background--grey dvag-h-skew--top dvag-h-skew--bottom"}}
  </div>
</section>